{% load static %}

<div style="min-width:9vw; height:96vh; display:flex; flex-direction:column;">
  <img
    src="{% static 'canvas/img/canvas.png' %}"
    alt="canvas_logo"
    width="120px"
    height="60px"
  />

  <p>version: v24.10</p>
  <p>commit: {{ canvas_version }}</p>

  <aside >
    <nav>
      <ul>
        <li>
          <a
            data-tooltip="Browse your samples or add new samples."
            data-placement="right"
            href="#"
            @click="showSamples()"
            :class="views.currentView === 'samples' ? 'primary' : 'secondary'"
          >
            <i class="fa-solid fa-vial"></i>
            <span>Samples</span>
          </a>
          <ul x-show="views.currentView === 'samples'" style="padding-left: 1.5rem;">
            <li>
              <a
                data-tooltip="Hide/Show sample search component."
                data-placement="right"
                @click="sampleSearchOpen = !sampleSearchOpen"
              >
                <i class="fa-solid fa-magnifying-glass"></i>
                <span>Sample Search</span>
              </a>
            </li>
            <li>
              <a
                data-tooltip="Add new samples."
                data-placement="right"
                @click="sampleFormOpen = !sampleFormOpen"
              >
                <i class="fa-solid fa-plus"></i>
                <span>New Samples</span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a
            data-tooltip="Browse/edit chips or upload idats."
            data-placement="right"
            href="#"
            @click="showChips()"
            :class="views.currentView === 'chips' ? 'primary' : 'secondary'"
          >
            <i class="fa-solid fa-grip-vertical"></i>
            <span>Chips</span>
          </a>
          <ul x-show="views.currentView === 'chips'" style="padding-left: 1.5rem;">
            <li>
<input
  autocomplete="off"
  id="chip-search"
  type="search"
  name="search"
  placeholder="Chip search start by tying in barcode"
  hx-get="{% url 'chip_search' %}"
  hx-trigger="input changed delay:500ms, searchChips from:document"
  hx-target="#chips"
  hx-swap="swap:200ms"
/>
            </li>
            <li>
              <a
                data-tooltip="Upload new idats."
                data-placement="right"
                @click="chipFormOpen = !chipFormOpen"
              >
                <i class="fa-solid fa-plus"></i>
                <span>New Chip</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>

  <aside x-show="views.currentView === 'samples'" x-transition>
    <nav>
      <ul id="tab-buttons" style="max-height: 40vh; overflow-y: auto; scrollbar-width: thin;"></ul>
    </nav>
  </aside>

  <aside x-show="views.currentView === 'samples'" x-transition>
    <div id="chipsample-sidebar-content">
    </div>
  </aside>


  <div x-show="idat_uploading">
    <progress id="idat-upload-progress" value="0" max="100"></progress>
    <span id="idat-upload-span"></span>
  </div>
 
  <div class="flex-grow" style="flex: 1 1 auto;"></div>
  <hr>
  <details class="dropdown">
    <summary>
      <i class="fa-solid fa-building"></i>
      Institutes</summary>

    <ul>
      {% for group in user.groups.all %}
        <li>{{ group }}</li>
      {% endfor %}
    </ul>
  </details>
        {% include 'canvas/dark_mode_toggle.html' %}
  <p>
    <i class="fa-solid fa-user"></i>
    {{ user.username }}</p>
  <!-- Include Logout Form -->
  {% include "canvas/logout.html" %}
</div>
