<div id="chipsample-sidebar-content-{{ chipsample.pk }}" x-show="activeTab === {{ chipsample.pk }}" x-transition>
    <nav class="d-flex">
        {% include 'canvas/components/reports.html' with button="true" %}
        <button class="btn btn-primary" @click="get_rois()">Edit CNV</button>
        {% include 'canvas/components/create_report_button.html' %}
    </nav>
    <div class="d-flex justify-content-start align-items-center gap-3 mb-3">
        <strong>CNV Count:</strong>
        <div id="cnv-pivot-{{ chipsample.pk }}" class="d-flex gap-3">
        </div>
    </div>
  </div>