<div id="tab-content-{{ chipsample.pk }}" x-show="activeTab === {{ chipsample.pk }}" x-transition>
  {% include 'canvas/components/reports.html' with button="true" %}
  <button @click="get_rois()">Edit CNV</button>


  <div class="igv-table">
    <div id="igv-div-{{ chipsample.pk }}" style="width: 100%;height: 100%"></div>

    <div class="gutter-row gutter-row-1">
      <i class="fa-solid fa-grip-lines"></i>
    </div>

    <div style="overflow: auto;">
      {% include 'canvas/partials/cnv_table.html' %}
    </div>
  </div>
</div>

<style>
  .igv-table {
    display: grid;
    grid-template-rows: 1fr 10px 1fr;
  }

  .gutter-row {
    display: grid;
    grid-column: 1/-1;
    cursor: row-resize;
    justify-items: center;
    align-items: center;
  }

  .gutter-row-1 {
    grid-row: 2;
  }
</style>

<script>

  Split({
    rowGutters: [{
      track: 1,
      element: document.querySelector('.gutter-row-1'),
    }]
  })

  igv_divs[{{ chipsample.pk }}] = document.getElementById("igv-div-{{ chipsample.pk }}");

  igv_options[{{ chipsample.pk }}] = {
    genome: 'hg19',
      tracks: [
        {
          name: "CNV LRR",
          type: "merged",
          min: -1,
          max: 1,
          height: 200,
          tracks: [
            {
              name: 'CNV LRR',
              type: 'wig',
              format: 'bedgraph',
              url: '{{ cnv_pos_bedgraph.bedgraph.url }}',
              graphType: 'bar',
              windowFunction: 'min',
              color: "rgb(255, 153, 53)",
            },
            {
              name: 'CNV LRR',
              type: 'wig',
              format: 'bedgraph',
              url: '{{ cnv_neg_bedgraph.bedgraph.url }}',
              graphType: 'bar',
              windowFunction: 'max',
              color: "rgb(255, 153, 53)",
            },
            {
              name: 'LRR',
              type: 'wig',
              format: 'bedgraph',
              url: '{{ lrr_bedgraph.bedgraph.url }}',
              graphType: 'points',
              min: -1,
              max: 1,
              windowFunction: 'mean',
              color: "rgb(0, 0, 0)",
              guideLines: [
                { color: 'gray', dotted: true, y: 0 },
              ],
            },
            {
              name: 'LRR smooth',
              type: 'wig',
              format: 'bedgraph',
              url: '{{ lrr_smooth_bedgraph.bedgraph.url }}',
              graphType: 'line',
              color: "rgb(255, 53, 53)",
              lineWidth: 20,
            },
          ]
        },
        {
          name: "BAF CNV",
          type: "merged",
          min: 0,
          max: 1,
          height: 200,
          tracks: [
            {
              name: 'CNV BAF',
              type: 'wig',
              format: 'bedgraph',
              url: '{{ cnv_pos_bedgraph.bedgraph.url }}',
              min: 0,
              max: 1,
              graphType: 'bar',
              windowFunction: 'max',
              color: "rgb(255, 153, 53)",
            },
            {
              name: 'BAF',
              type: 'wig',
              format: 'bedgraph',
              url: '{{ baf_bedgraph.bedgraph.url }}',
              graphType: 'points',
              min: 0,
              max: 1,
              windowFunction: 'none',
              color: "rgb(0, 0, 0)",
              guideLines: [
                { color: 'gray', dotted: true, y: 0.5 },
              ],
            },
          ]
        }

      ]
  }
  igv_browsers[{{ chipsample.pk }}] = igv.createBrowser(
    igv_divs[{{ chipsample.pk }}],
    igv_options[{{ chipsample.pk }}]
  )
async function get_rois() {
    var browser = await igv_browsers[{{ chipsample.pk }}];
    var rois = await browser.getUserDefinedROIs();
    console.log(0)
    if (rois.length > 0) {
      console.log(1)
      // Create a form data object for HTMX
      const data = new FormData();
      data.append("chipsample_pk", {{ chipsample.pk }});
      data.append("rois", JSON.stringify(rois));
      console.log(data)

      // Perform the HTMX POST request
      htmx.ajax("POST", "{% url 'get_cnv_modal' %}", {
        target: "#CNVModal",
        swap: "outerHTML",
        values: data,
      });
      console.log("htmx")
      showCNVModal = true;
    } else {
      console.log(2)
      alert("Select ROI");
    }
  }


</script>