{% load sortedchip %}


<article class="chip-container">
  <header>
    <div>
      <h4 style="display:inline">{{ chip }}</h4>
      <span class="badge pico-background-cyan-500">{{ chip.chip_type }}</span>
    </div>
    {% if user.is_staff %}
      <nav class="icon-nav">
        <ul>
          <li>
            <a href="#">
              <i class="fa-solid fa-play pico-color-green-500"></i>
            </a>
          </li>
          <li>
            <a
              href="#"
              hx-get="{% url 'chip_edit' %}"
              hx-vals='{"chip_pk": "{{ chip.pk }}"}'
              hx-target="closest article"
              hx-swap="outerHTML swap:200ms"
            >
              <i class="fa-solid fa-pencil pico-color-blue-500"></i>
            </a>
          </li>
          <li>
            <details role="list" class="download-menu">
              <summary aria-haspopup="listbox">
                <i class="fa-solid fa-download pico-color-purple-500"></i>
              </summary>
              <ul role="listbox">
                <li><a href="{% url 'download_chip_files' chip.id 'idats' %}">IDATs Download</a></li>
                <li><a href="{% url 'download_chip_files' chip.id 'gtcs' %}">GTCs Download</a></li>
                <li><a href="{% url 'download_chip_files' chip.id 'vcfs' %}">VCFs Download</a></li>
                <li><a href="{% url 'download_chip_files' chip.id 'bedgraphs' %}">BedGraphs Download</a></li>
                <li><a href="{% url 'download_chip_files' chip.id 'reports' %}">Reports Download</a></li>
                <li>
                <hr>
                  <a href="{% url 'download_chip_files' chip.id 'all' %}">Download All Files</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </nav>
    {% endif %}
  </header>
  {% sortedchip chip as chipsample_rows %}
  {% for chipsample_row in chipsample_rows %}
    <div class="grid">
      {% for chipsample in chipsample_row %}
        {% if chipsample.sample %}
          <article class="sample">
            <p>{{ chipsample.position }}</p>
            <p>{{ chipsample.sample.protocol_id }}</p>
          </article>
        {% else %}
          <article class="sample">
            <p>{{ chipsample }}</p>
            <p>No sample</p>
          </article>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</article>
