<!-- Add this before the main table div -->
<div class="d-flex justify-content-start align-items-center gap-3 mb-3">
    <strong>CNV Count:</strong>
    <div id="cnv-pivot-{{ chipsample.pk }}" class="d-flex gap-3">
    </div>
</div>

<!-- Existing table div -->
<div id="cnv-table-{{ chipsample.pk }}"> </div>

<script type="text/javascript">
var classificationOrder = {
    "pathogenic": 1,
    "likely pathogenic": 2,
    "uncertain significance": 3,
    "likely benign": 4,
    "benign": 5
};

var rowMenu = [
    {
        label:"<i class='fas fa-search'></i> Search",
        menu:[
            {
                label:"<i class='fas fa-dna'></i> Search in Decipher",
                action:function(e, row){
                    // Get row data
                    var data = row.getData();
                    var chromosome = data["Chromosome"];
                    var start = data["Start"];
                    var end = data["End"];

                    // Construct the Decipher URL
                    var decipherUrl = `https://www.deciphergenomics.org/search?q=grch37:${chromosome}:${start}-${end}`;

                    // Open the Decipher search in a new tab
                    window.open(decipherUrl, '_blank');
                }
            },
            {
                label:"<i class='fas fa-vial'></i> Search in ClinGen",
                action:function(e, row){
                    // Get row data
                    var data = row.getData();
                    var chromosome = data["Chromosome"];
                    var start = data["Start"];
                    var end = data["End"];

                    // Construct the ClinGen URL
                    var clingenUrl = `https://search.clinicalgenome.org/kb/regions?page=1&type=GRCh37&region=chr${chromosome}%3A${start}-${end}&size=25&search=`;

                    // Open the ClinGen search in a new tab
                    window.open(clingenUrl, '_blank');
                }
            },
            {
                label:"<i class='fas fa-vial'></i> Search in UCSC",
                action:function(e, row){
                    // Get row data
                    var data = row.getData();
                    var chromosome = data["Chromosome"];
                    var start = data["Start"];
                    var end = data["End"];

                    // Construct the ClinGen URL
                    var UCSCUrl = `https://search.clinicalgenome.org/kb/regions?page=1&type=GRCh37&region=chr${chromosome}%3A${start}-${end}&size=25&search=`;

                    // Open the ClinGen search in a new tab
                    window.open(UCSCUrl, '_blank');
                }
            }
        ]
    }
];

// Add the minMaxFilterEditor function
function minMaxFilterEditor(cell, onRendered, success, cancel, editorParams){
    var container = document.createElement("div");
    container.style.padding = "3px 3px";

    var start = document.createElement("input");
    start.setAttribute("type", "number");
    start.setAttribute("placeholder", "Min");
    start.style.width = "50%";
    start.style.boxSizing = "border-box";

    var end = document.createElement("input");
    end.setAttribute("type", "number");
    end.setAttribute("placeholder", "Max");
    end.style.width = "50%";
    end.style.boxSizing = "border-box";

    container.appendChild(start);
    container.appendChild(end);

    function buildValues(){
        return {
            start:start.value,
            end:end.value,
        };
    }

    start.addEventListener("change", function(e){
        success(buildValues());
    });

    end.addEventListener("change", function(e){
        success(buildValues());
    });

    return container;
}

// Add the minMaxFilterFunction
function minMaxFilterFunction(headerValue, rowValue, rowData, filterParams){
    if(rowValue){
        if(headerValue.start != ""){
            if(headerValue.end != ""){
                return rowValue >= headerValue.start && rowValue <= headerValue.end;
            }else{
                return rowValue >= headerValue.start;
            }
        }else{
            if(headerValue.end != ""){
                return rowValue <= headerValue.end;
            }
        }
    }
    return true;
}

var table = new Tabulator("#cnv-table-{{ chipsample.pk }}", {
    data:{{ cnvs|safe }},
    layout:"fitData",
    index:"cnv_pk",
    movableColumns: true,
    rowContextMenu: rowMenu,
    rowHeader:{width:30, minWidth:30, hozAlign:"center", resizable:false, headerSort:false},
    height:"40vh",
    maxHeight:"100%",
    columns: [
        {
            title: "Details",
            field: "details",
            hozAlign: "center",
            formatter: function(cell, formatterParams) {
                return `<a href="#"
                           hx-post="{% url 'get_acmg' %}"
                           hx-vals='{"cnv_pk": `+ cell.getRow().getData()["cnv_pk"] + `}'
                           hx-target="#variantModal"
                           hx-swap="outerHTML"
                           @click="showVariantModal = true" > <i class="fa-solid fa-circle-info"></i></a>`;
            },
        },
        {
            title: "Add to Report",
            field: "addToReport",
            hozAlign: "center",
            formatter: function(cell, formatterParams) {
                // Get the cell value
                let checked = cell.getValue() ? 'checked' : '';
                // Return checkbox with correct checked status
                return `<input type="checkbox" ${checked} />`;
            },
            cellClick: function(e, cell) {
                // Toggle the checkbox when the cell is clicked
                let value = cell.getValue();
                cell.setValue(!value); // Set the opposite value
            },
        },

        {
            title: "ISCN", 
            field: "iscn", 
            responsive:0,
            headerFilter:"input"
        },
        {
            title: "All Protein Coding Genes", 
            field: "All protein coding genes", 
            responsive: 2,
            headerFilter:"input",
            formatter: function(cell, formatterParams) {
                let value = cell.getValue();
                if (value && value.length > 50) {
                    return `<em style="white-space:normal;" title="${value}">${value.substring(0, 50)}...</em>`;
                }
                return `<em style="white-space:normal;">${value}</em>`;
            },
            width: 200
        },
        {
            title: "Known or Predicted Dosage-sensitive Genes",
            field: "Known or predicted dosage-sensitive genes",
            responsive: 2,
            headerFilter:"input",
            formatter: function(cell, formatterParams) {
                let value = cell.getValue();
                if (value && value.length > 50) {
                    return `<em title="${value}">${value.substring(0, 50)}...</em>`;
                }
                return `<em>${value}</em>`;
            },
            width: 200
        },
        {
            title: "Number of SNPs", 
            field: "numsnp_info",
            headerFilter: minMaxFilterEditor,
            headerFilterFunc: minMaxFilterFunction,
            headerFilterLiveFilter: false,
            mutator: function(value, data, type, params, component) {
                return parseInt(value.replace(/[^0-9]/g, ''), 10);
            }
        },
        {
            title: "Length (bp)", 
            field: "length_info",
            headerFilter: minMaxFilterEditor,
            headerFilterFunc: minMaxFilterFunction,
            headerFilterLiveFilter: false,
            mutator: function(value, data, type, params, component) {
                return parseInt(value.replace(/[^0-9]/g, ''), 10);
            }
        },
        {
            title: "Type", 
            field: "Type",
            headerFilter:"list",
            headerFilterParams:{
                values:{
                    "": "All",
                    "DEL": "Deletion",
                    "DUP": "Duplication"
                }
            }
        },
        {
            title: "Classification", 
            field: "Classification",
            headerFilter:"list",
            headerFilterParams:{
                values:Object.keys(classificationOrder)
            },
            sorter: function(a, b, aRow, bRow, column, dir, sorterParams) {
                var aValue = a ? a.toLowerCase() : '';
                var bValue = b ? b.toLowerCase() : '';
                var classA = classificationOrder[aValue] || 6;
                var classB = classificationOrder[bValue] || 6;
                return classA - classB;
            },
            headerSortStartingDir: "asc"
        },
        {
            title: "Confidence", 
            field: "conf",
            headerFilter:"number",
            headerFilterFunc:"<=",
            headerFilterParams:{
                min:0,
                max:100
            },
            mutator: function(value, data, type, params, component) {
                return parseFloat(value.replace(/[^0-9.-]+/g, ''));
            }
        },
        {
            title: "Total Score", 
            field: "total_score",
            headerFilter:"number",
            headerFilterFunc:"<=",
            headerFilterParams:{
                min:0,
                max:100
            }
        },
        {title: "Chromosome", field: "Chromosome", responsive:2},
        {title: "Start", field: "Start", responsive:2},
        {title: "End", field: "End", responsive:2},
        {title: "State Info", field: "state_info", responsive: 2},
        {title: "Start SNP Info", field: "startsnp_info", responsive: 2},
        {title: "End SNP Info", field: "endsnp_info", responsive: 2},
        {title:"Comment", field:"comment", editor:"textarea", editorParams:{
            elementAttributes:{
                maxlength:"255", //set the maximum character length of the textarea element to 10 characters
            },
            verticalNavigation:"editor", //navigate cursor around text area without leaving the cell
        }}
        // Add more columns as needed
    ],
    initialSort:[
        {column:"Classification", dir:"asc"},
        {column:"Length", dir:"asc"},
    ],
});
// Chromosome lengths map
var chromLengths = {
    "chr1": 249250621,
    "chr2": 243199373,
    "chr3": 198022430,
    "chr4": 191154276,
    "chr5": 180915260,
    "chr6": 171115067,
    "chr7": 159138663,
    "chrX": 155270560,
    "chr8": 146364022,
    "chr9": 141213431,
    "chr10": 135534747,
    "chr11": 135006516,
    "chr12": 133851895,
    "chr13": 115169878,
    "chr14": 107349540,
    "chr15": 102531392,
    "chr16": 90354753,
    "chr17": 81195210,
    "chr18": 78077248,
    "chr20": 63025520,
    "chrY": 59373566,
    "chr19": 59128983,
    "chr22": 51304566,
    "chr21": 48129895
};

table.on("rowClick", async function(e, row) {
    var data = row.getData();

    var lengthInfo = Math.max(100000, parseInt(data.length_info));
    var padding = Math.round(lengthInfo * 0.5);

    // Calculate start and end with boundary checks
    var start = Math.max(0, parseInt(data.Start) - padding);
    var chromMaxLength = chromLengths[data.Chromosome] || Infinity; // Use Infinity if chromosome not found
    var end = Math.min(chromMaxLength, parseInt(data.End) + padding);

    var locus = data.Chromosome + ":" + start + "-" + end;

    var browser = await igv_browsers["{{ chipsample.pk }}"];
    if (typeof browser !== 'undefined' && browser.search) {
        browser.search(locus);
    } else {
        console.error('IGV browser instance not found.');
    }
});

// Add the color mapping
var classificationColors = {
    "pathogenic": "var(--pico-color-red-450)",
    "likely pathogenic": "var(--pico-color-pumpkin-300)",
    "uncertain significance": "var(--pico-color-yellow-150)",
    "likely benign": "var(--pico-color-green-450)",
    "benign": "var(--pico-color-blue-450)"
};

function updatePivotTable() {
    const data = table.getData();
    const counts = {};
    
    // Initialize counts
    Object.keys(classificationOrder).forEach(classification => {
        counts[classification] = 0;
    });

    // Count the variants
    data.forEach(row => {
        const classification = row.Classification ? row.Classification.toLowerCase() : 'unknown';
        if (counts.hasOwnProperty(classification)) {
            counts[classification]++;
        }
    });

    // Update the display
    const pivotDiv = document.getElementById('cnv-pivot-{{ chipsample.pk }}');
    pivotDiv.innerHTML = Object.keys(classificationOrder)
        .sort((a, b) => classificationOrder[a] - classificationOrder[b])
        .map(classification => {
            const count = counts[classification];
            const displayName = classification.charAt(0).toUpperCase() + classification.slice(1);
            const backgroundColor = classificationColors[classification] || 'var(--pico-color-slate-450)';
            return `<span class="badge" style="background-color: ${backgroundColor}">${displayName}: ${count}</span>`;
        })
        .join('');
}

// Update pivot table when data changes
table.on("dataFiltered", function(filters, rows) {
    updatePivotTable();
});

// Initial pivot table update
updatePivotTable();
</script>
