<summary
  role="button"
  class="outline
    {% if chipsample.report.count == 0 %}
    secondary
  {% endif %}
        "
  style="
          padding: .6em;
          border-radius: 1em;
          "
  hx-trigger="triggerReportUpdate{{ chipsample.pk }} from:body"
  hx-post="{% url 'get_report_count' %}"
  hx-vals='{"chipsample_pk":"{{ chipsample.pk }}",
             "button": "{{ button }}"
        }'
  hx-target="this"
  hx-swap="outerHTML"
>
  <div
    hx-post="{% url 'get_reports' %}"
    hx-vals='{"chipsample_pk":"{{ chipsample.pk }}",
             "button": "{{ button }}"
             }'
    hx-target="next ul"
    hx-swap="outerHTML"
  >
    {% if chipsample.report.count == 0 %}
    <i class="fa-solid fa-file-pdf"></i>
      No reports
    {% else %}
      <i class="fa-solid fa-file-pdf"></i>
      {{ chipsample.report.count }}
      Reports
    {% endif %}
  </div>
</summary>
