<form
  hx-post="{% url 'save_acmg' %}"
  x-data="{
  total_score: 0,
  classification: '',
  sectionScores: {},
  updateClassification() {
    if (this.total_score >= 0.99) this.classification = 'Pathogenic';
    else if (this.total_score >= 0.90) this.classification = 'Likely Pathogenic';
    else if (this.total_score >= -0.89) this.classification = 'VUS';
    else if (this.total_score >= -0.98) this.classification = 'Likely Benign';
    else this.classification = 'Benign';
  },
  updateTotal() {
    this.total_score = Object.values(this.sectionScores).reduce((a, b) => a + b, 0);
    this.updateClassification();
  },
  classificationColor() {
      switch (this.classification) {
      case 'Pathogenic':
          return 'var(--pico-color-red-450)';
      case 'Likely Pathogenic':
          return 'var(--pico-color-pumpkin-300)';
      case 'VUS':
          return 'var(--pico-color-yellow-150)';
      case 'Likely Benign':
          return 'var(--pico-color-green-450)';
      case 'Benign':
          return 'var(--pico-color-blue-450)';
      default:
          return 'var(--pico-color-slate-450)';
      }
  }
}"
  @update-section-score.window="e => { sectionScores[e.detail.section] = e.detail.score; updateTotal(); }"
  {% if cnv %}
    x-init="$nextTick(() => { total_score = {{ cnv.cnv_json.total_score }};
    classification = '{{ cnv.cnv_json.Classification }}'; })"
  {% endif %}
>
  <article
    :style="'width:8vw;position:fixed; right:.6em; top:6vh; border-radius:2em; border-style:solid; border-color:' + classificationColor() + '; box-shadow: 0em 0em 0.4em 0em ' + classificationColor() +';'"
  >
    <header>
      <strong>Classifying for {{ acmg.type }} </strong>
    </header>
    <input name="cnv_pk" hidden value="{{ cnv.pk }}" />
    <label for="classification">Classification:</label>
    <input
      type="text"
      name="classification"
      readonly
      x-bind:value="classification"
      style="border:none; background:transparent; font-weight:bold;"
    />
    <label for="total_score">Total Score:</label>
    <input
      type="text"
      name="total_score"
      readonly
      x-bind:value="total_score.toFixed(2)"
      style="border:none; background:transparent; font-weight:bold;"
    />
    <footer>
      <button
        :style="'background-color:' + classificationColor() +'; border-color:' + classificationColor()"
        type="submit"
      >
        Submit
      </button>
    </footer>
  </article>

  {% for section in acmg.sections %}
    <article
      x-data="{
      selected: null,
      values: {},
      updateScore() {
        const score = Object.values(this.values).reduce((a, b) => a + parseFloat(b || 0), 0);
        $dispatch('update-section-score', { section: '{{ section.name }}', score });
      }
    }"
      x-init="updateScore"
    >
      <header>
        <h3>{{ section.name }}</h3>
      </header>
      {% for _, group in section.evidences.items %}
        <div class="grid">
          {% for evidence in group %}
            <article
              class="evidence-card"
              :class="{ 'glow': selected === '{{ evidence.name }}' }"
              {% if evidence.score != 0 %}
                x-init="selected = '{{ evidence.name }}'"
              {% endif %}
              {% if evidence.checked %}
                x-init="selected = '{{ evidence.name }}'"
              {% endif %}
            >
              <header style="border-radius:2em;">
                <input
                  type="radio"
                  :value="'{{ evidence.name }}'"
                  name="{{ section.id }}"
                  x-model="selected"
                  @input="values={}; selected='{{ evidence.name }}'; values['{{ evidence.name }}'] = {{ evidence.suggested }}; updateScore()"
                />
                {{ evidence.name }}
                {{ evidence.description }}
              </header>

              <div class="slider-grid">
                {% if evidence.slider %}
                  <input
                    style="margin:auto;"
                    type="range"
                    min="{{ evidence.min }}"
                    max="{{ evidence.max }}"
                    step=".05"
                    :value="values['{{ evidence.name }}']"
                    @input="values={}; selected='{{ evidence.name }}'; values['{{ evidence.name }}'] = $event.target.value; updateScore()"
                  />
                {% endif %}

                <div
                  style="display:flex; flex-direction: column; align-items: center;"
                >
                  <div x-show="selected === '{{ evidence.name }}'">
                    <span> Assigned points:</span>
                    <br />
                    <input
                      type="text"
                      name="{{ evidence.name }}"
                      readonly
                      x-bind:value="values['{{ evidence.name }}']"
                      style="border:none; background:transparent; font-weight:bold;"
                    />
                  </div>
                </div>
              </div>

              <footer style="border-radius:2em;">
                <span class="badge">Suggested: {{ evidence.suggested }}</span>
                <span class="badge">Min: {{ evidence.min }}</span>
                <span class="badge">Max: {{ evidence.max }}</span>
              </footer>
            </article>
          {% endfor %}
        </div>
      {% endfor %}
    </article>
  {% endfor %}
</form>

{% for k, v in cnv.cnv_json.items %}
  <p>{{ k }}: {{ v }}</p>
{% endfor %}