<form
  hx-post="{% url 'save_acmg' %}"
  x-data="{
  totalScore: 0,
  classification: '',
  sectionScores: {},
  updateClassification() {
    if (this.totalScore >= 0.99) this.classification = 'Pathogenic';
    else if (this.totalScore >= 0.90) this.classification = 'Likely Pathogenic';
    else if (this.totalScore >= -0.89) this.classification = 'VUS';
    else if (this.totalScore >= -0.98) this.classification = 'Likely Benign';
    else this.classification = 'Benign';
  },
  updateTotal() {
    this.totalScore = Object.values(this.sectionScores).reduce((a, b) => a + b, 0);
    this.updateClassification();
  },
  classificationColor() {
      switch (this.classification) {
      case 'Pathogenic':
          return 'var(--pico-color-red-450)';
      case 'Likely Pathogenic':
          return 'var(--pico-color-pumpkin-300)';
      case 'VUS':
          return 'var(--pico-color-yellow-150)';
      case 'Likely Benign':
          return 'var(--pico-color-green-450)';
      case 'Benign':
          return 'var(--pico-color-blue-450)';
      default:
          return 'var(--pico-color-slate-450)';
      }
  }
}"
  @update-section-score.window="e => { sectionScores[e.detail.section] = e.detail.score; updateTotal(); }"
>
  <article
    :style="'width:180px;position:fixed; right:2em; top:16vh; z-index:99; border-radius:2em; border-style:solid; border-color:' + classificationColor() + '; box-shadow: 0em 0em 0.4em 0em ' + classificationColor() +';'"
  >
    <input name="cnv_pk" hidden value="{{ cnv.pk }}" />
    <label for="classification">Classification:</label>
    <input
      type="text"
      name="classification"
      readonly
      x-bind:value="classification"
      style="border:none; background:transparent; font-weight:bold;"
    />
    <label for="totalScore">Total Score:</label>
    <input
      type="text"
      name="totalScore"
      readonly
      x-bind:value="totalScore.toFixed(2)"
      style="border:none; background:transparent; font-weight:bold;"
    />
    <button
      :style="'background-color:' + classificationColor() +'; border-color:' + classificationColor()"
      type="submit"
    >
      Submit
    </button>
  </article>

  {% for section in acmg_loss %}
    <article
      x-data="{
      selected: null,
      values: {},
      updateScore() {
        const score = Object.values(this.values).reduce((a, b) => a + parseFloat(b || 0), 0);
        $dispatch('update-section-score', { section: '{{ section.name }}', score });
      }
    }"
      x-init="updateScore"
    >
      <header>
        <h3>{{ section.name }}</h3>
      </header>
      {% for _, group in section.evidences.items %}
        <div class="grid">
          {% for evidence in group %}
            <article
              class="evidence-card"
              :class="{ 'glow': selected === '{{ evidence.id }}' }"
            >
              <header style="border-radius:2em;">
                <input
                  type="radio"
                  :value="'{{ evidence.id }}'"
                  name="{{ section.id }}"
                  x-model="selected"
                  @input="values={}; selected='{{ evidence.id }}'; values['{{ evidence.id }}'] = {{ evidence.suggested }}; updateScore()"
                />
                {{ evidence.name }}
                {{ evidence.description }}
              </header>

              <div class="slider-grid">
                {% if evidence.slider %}
                  <input
                    style="margin:auto;"
                    type="range"
                    min="{{ evidence.min }}"
                    max="{{ evidence.max }}"
                    step=".05"
                    :value="values['{{ evidence.id }}']"
                    @input="values={}; selected='{{ evidence.id }}'; values['{{ evidence.id }}'] = $event.target.value; updateScore()"
                  />
                {% endif %}

                <div
                  style="display:flex; flex-direction: column; align-items: center;"
                >
                  <div x-show="selected === '{{ evidence.id }}'">
                    <span> Assigned points:</span>
                    <br />
                    <input
                      type="text"
                      name="{{ evidence.id }}"
                      readonly
                      x-bind:value="values['{{ evidence.id }}']"
                      style="border:none; background:transparent; font-weight:bold;"
                    />
                  </div>
                </div>
              </div>

              <footer style="border-radius:2em;">
                <span class="badge">Suggested: {{ evidence.suggested }}</span>
                <span class="badge">Min: {{ evidence.min }}</span>
                <span class="badge">Max: {{ evidence.max }}</span>
              </footer>
            </article>
          {% endfor %}
        </div>
      {% endfor %}
    </article>
  {% endfor %}
</form>

<style>
  .evidence-card {
    padding: 1.4em 1em 1em 1em;
    transition:
      box-shadow 0.3s ease,
      border-color 0.3s ease;
    border: 0.4em solid transparent;
    border-radius: 2em;
  }

  .evidence-card.glow {
    border-color: var(--pico-color-pink-400);
    border-radius: 2em;
    box-shadow: 0em 0em 1em 0em var(--pico-color-pink-250);
  }

  .slider-grid {
    display: grid;
    grid-template-columns: 1fr 120px;
    justify-items: stretch;
    align-items: stretch;
  }
</style>
