<div class="overflow-auto" style="height:96vh; width:88vw;">
  <div class="grid-container">
    <article
      class="chip-container"
      x-show="chipFormOpen === true"
      x-transition
      x-transition.duration.200ms
    >
      <header>
        <h3>New Chip</h3>
      </header>
      <div class="chip_upload">
        {% include 'canvas/components/idat_upload.html' %}
      </div>
    </article>

    <div id="chips" class="grid-container">
      {% include 'canvas/partials/chips.html' with chips=chips %}
    </div>
  </div>
</div>

<script>
  function getSelectedChipType(label) {
    return Array.from(
      document.getElementsByClassName(`selected-ChipType-${label}`),
    ).map((e) => e.innerText);
  }
</script>
