<dialog id="CNVModal" x-bind:open="showCNVModal" 
            {% if showModal %}
            x-init="showCNVModal=true"
            {% endif %}>
    <article style="width: 80vw; border-radius: 2em;">
        <header>

            {% if success %}
            Successfully saved the CNV.
            {% endif %}
        <a
            href="#"
            style="float:right; transform: translateY(-50%)"
            aria-label="Close"
            @click="showCNVModal = false">
            <i class="fa-solid fa-xmark pico-color-red-500"></i>
        </a>
        
        </header>
         <ul>
         {% for roi in rois %}
            <li>{{ roi }}</li>
            {% endfor %}
         </ul>
    </article>
</dialog>
<style>
    dialog article {
        max-width: unset;
    }

</style>

{% if success %}
<script>
    table.addData([
        {{ cnv }}
    ], true);
</script>
{% endif %}


