<dialog id="CNVModal" x-bind:open="showCNVModal">
    <article style="width: 80vw; border-radius: 2em;">
        <header>

            {% if success %}
            Successfully saved the CNV.
            {% endif %}
            <a href="#" style="float:right; transform: translateY(-100%)" aria-label="Close"
                @click="showCNVModal = false">
                <i class="fa-solid fa-xmark pico-color-red-500"></i>
            </a>
        </header>
        {{ rois }}
    </article>
</dialog>

<style>
    dialog article {
        max-width: unset;
    }
</style>

{% if success %}
<script>
    table.addData([
        {{ cnv }}
    ], true);
</script>
{% endif %}