<div class="inline-flex" hx-indicator="this">
  <button
    hx-post="{% url 'create_report' %}"
    hx-vals="js:{
      'chipsample_pk': {{ chipsample.pk }},
      'cnvs': JSON.stringify(
        Tabulator.findTable('#cnv-table-{{ chipsample.pk }}')[0].getData()
        .filter(e => e.addToReport===true)
        .map(e => ({
          ...e,
          numsnp_info: `numsnp_info=${e.numsnp_info}`,
          length_info: `length_info=${e.length_info}`,
          conf: `conf=${e.conf}`
        }))
      )
    }"
    hx-swap="outerHTML"
  >
    Create report
  </button>
  <div id="report-indicator" class="htmx-indicator">
    <i class="fa-regular fa-file-pdf fa-bounce fa-2xl"></i>
    <span> Creating your report</span>
    <i
      style="transform: translateY(30%);"
      class="fa-solid fa-ellipsis fa-fade"
    ></i>
  </div>
</div>
